<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
</head>
<body>
<div th:each="todo : ${todo}">
    <a th:href="@{/todo/{id}(id=${todo.getId()})}"
       th:text="${todo.getCases() + ', ' + todo.getStatus() + ', ' + todo.getPriority()}">Task</a>
</div>
<br/>

<form action="http://localhost:8080/todo/new">
    <input type="submit" value="Add Task" />
</form>
<form action="http://localhost:8080/todo/search">
    <input type="submit" value="Find Task" />
</form>
<form action="http://localhost:8080/home">
    <input type="submit" value="Home" />
</form>

</body>
</html>