<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>EditTask</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/todo/{id}/edit(id=${todo.getId()})}" th:object="${todo}">
  <label for="cases">Enter ToDo: </label>
  <input type="text" th:field="*{cases}" id="cases"/>
  <div style="color:red" th:if="${#fields.hasErrors('cases')}" th:errors="*{cases}">Task Error</div>
  <br/>
  <label for="description">Enter Description: </label>
  <input type="text" th:field="*{description}" id="description"/>
  <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div>
  <br/>
  <label for="status">Enter Status: </label>
  <select id="status" name="status">
    <option value="ToDo">ToDo</option>
    <option value="Process">Process</option>
    <option value="Done">Done</option>
  </select>
  <select id="priority" name="priority">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>
  <div style="color:red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</div>
  <br/>
  <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>